/** PhoneBook CSS */
/* Author: Julien DRECQ */

body {
	background: #fff !important;	
}

a, a:hover {
    color: #46B8DA;
}

.navbar-default {
border-bottom: 3px solid #46B8DA;
}

.table-lists-contacts {
    margin-top: 50px;
 }

.table-lists-contacts th:last-child {
    text-align: center;
    width: 100px;
}

.table-lists-contacts .phone {
    width: 200px;
}

.form-login {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-login .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.form-lang {
    max-width: 380px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    background-color: #fff;
}

.form-login .form-signin-heading,
.form-login .checkbox {
  margin-bottom: 30px;
  font-weight: normal;
}

.form-login {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.form-login input[type="text"], .form-login input[type="password"] {
    margin-bottom: 20px;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.change-lang {
    margin-top: 10px;
}

.calling {
    text-align: center;
}

.search-contact {
    padding-left: 0px;
}

.form-control:focus {
  border-color: #46B8DA;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(70, 184, 218, 0.6);
}
