{% load i18n %}
<!-- Modal CHANGE LANG -->
<div class="modal fade" id="change-lang" tabindex="-1" role="dialog" aria-labelledby="change-lang-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="change-lang-label">{% trans "Change language" %}</h4>
            </div>
            <form class="form-horizontal" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
                <div class="modal-body">
                    <input name="next" type="hidden" value="{% url 'phonebook_login_page' %}" />
                    <div class="form-group">
                        <div class="col-sm-12 col-xs-12 col-lg-12">
                            <select class="form-control lang-select" name="language">
                            {% get_available_languages as languages %}
                            {% for code, name in languages %}
                                <option value="{{ code }}" {% if code == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit">
                        <span class="glyphicon glyphicon-save"></span>
                        {% trans 'Save language' %}
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        {% trans 'Close' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END Modal CHANGE LANG -->