{% load i18n %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'phonebook_lists_contacts' %}">PhoneBook</a>
    </div>

    <div class="collapse navbar-collapse" id="responsive-navbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% trans 'Welcome' %} {{ user }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#change-lang">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {% trans 'Change language' %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'phonebook_exports_contacts' %}">
                            <span class="glyphicon glyphicon-floppy-save"></span>
                            {% trans 'Exports contacts' %}
                        </a>
                    </li>

                    {% if user.is_staff %}
                        <li>
                            <a target="_blank" href="{% url 'admin:index' %}">
                                <span class="glyphicon glyphicon-cog"></span>
                                {% trans 'Admin page' %}
                            </a>
                        </li>
                    {% endif %}
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'phonebook_logout' %}">
                        <span class="glyphicon glyphicon-off"></span>
                        {% trans 'Logout' %}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
</nav>


{% block change_lang %}
    {% include 'phonebook/modal/change_lang.html' %}
{% endblock %}